{
  "plugins": ["prettier"],
  "env": {
    "es2021": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      2,
      {
        "singleQuote": true,
        "trailingComma": "all",
        "tabWidth": 2,
        "semi": true,
        "printWidth": 120,
        "bracketSpacing": true
      }
    ],
    "no-console": "off",
    "no-unused-vars": "warn"
  },
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2023
  }
}
