<!-- render table if expense lenght > 0 other show no expenses -->
<table *ngIf="expenses.length > 0" class="table-fixed w-full">
  <thead>
    <tr>
      <th class="w-1/2 px-4 py-2">Name</th>
      <th class="w-1/2 px-4 py-2">Expense</th>
    </tr>
  </thead>
  <tbody>
    <tr data-testid="expense-row" *ngFor="let expense of expenses">
      <td class="border px-4 py-2 text-center">{{ expense.name }}</td>
      <td class="border px-4 py-2 text-center">${{ expense.expense }}</td>
    </tr>
  </tbody>
</table>
<p class="text-center" *ngIf="expenses.length === 0">No expenses added yet</p>
